@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url("lisad/nomme2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.section1{
    min-height: 100vh;
}
.container{
    margin: auto;
}

.article{
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}
.article h1{
    font-size: 36px;
    color:#fff;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 25px;
}
.article p{
    font-size: 18px;
    color: #7e7e7e;
    line-height: 1.5;
    margin-bottom: 50px;
}
.article .btn{
    color:#fff;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1f1818;
    transition: 0.2s;
}
.article .btn:hover{
    background-color: rgb(122, 20, 4);

}
.section2 {
    width: 50%;
    margin: auto;
    text-align: center;
    color: #cecece;
}
.container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 nav i {
    color: #ffffff;
    transition: color 0.2s;
    font-size: 25px;
    letter-spacing: 3.5px;
}

.container2 nav i:hover {
    color: #100e0e;
}