@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.section1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url("lisad/nomme3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}

/* ... (varasemad stiilid) ... */

/* Logo ja navigatsiooni stiilide kohandamine */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; /* Lisab polsterdust ümber navigatsiooniriba */
    background-color: transparent;
}

nav h1 a img {
    height: 70px; /* Säilitab logo kõrguse */
}

nav ul {
    display: flex;
    list-style: none; /* Eemaldab loendi markerid */
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 0 1rem; /* Lisab vahe menüüpunktide vahele */
    margin: 0; /* Eemaldab vaikimisi marginaali */
}

nav ul li a {
    color: #fff; /* Seab lingi värvi valgeks */
    text-transform: uppercase; /* Muudab tähed suurtähtedeks */
    text-decoration: none; /* Eemaldab allakriipsutuse */
    font-size: 16px; /* Määrab fondi suuruse */
    padding: 7px 8px; /* Lisab polsterdust ümber lingi teksti */
    border-radius: 5px; /* Lisab ümardatud nurgad */
}

nav ul li a:hover {
    background-color: rgb(122, 20, 4); /* Määrab hover efekti */
    transition: 0.2s ease; /* Lisab sujuva ülemineku */
}

/* ... (jätkuvad stiilid) ... */


/* Vahelehe sisu jaoks */
.content {
    max-width: 80%;
    margin: auto;
}

.content h2 {
    font-size: 36px;
    text-align: center;
    color: #ffffff; /* Muutke teksti värv halliks */
    margin-bottom: 0.5em;
}

.content p {
    font-size: 18px;
    text-align: center;
    color: #c3b8b8; /* Muutke teksti värv halliks */
    margin-bottom: 2em;
}

.article .btn {
    color: #fff;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1f1818;
    transition: 0.2s;
}

.article .btn:hover {
    background-color: rgb(122, 20, 4);
}

/* YouTube'i video stiilid */
.youtube-video {
    width: 100%;
    display: flex;
    justify-content: center;
}

.youtube-video iframe {
    width: 560px; /* Video laius */
    height: 315px; /* Video kõrgus */
}

/* Jaluse stiilid */
footer {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 1em 0;
    background-color: #333;
    position: absolute; /* Või 'static', kui jalus peab olema lehe sisu lõpus */
    bottom: 0;
}

footer p {
    position: static; /* Või 'absolute', kui jalus peab olema lehe alumises servas */
    bottom: 20px; /* Või '0', kui jalus on lehe alumises servas */
    width: 100%;
}
