@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.section1{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url("lisad/nomme2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width:85%;
    margin: auto;
     
}
.container nav h1{
    margin-top: 15px;
    margin-left: 20px;
}

nav{
    height: 80px;    
}
nav h1{
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
}
nav ul{
    float: right;
    line-height: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 8px;
}
nav ul li a:hover{
    background-color: rgb(122, 20, 4);
    transition: 0.2s ease;
}
.article{
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}
.article h1{
    font-size: 36px;
    color:#fff;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 25px;
}
.article p{
    font-size: 18px;
    color: #7e7e7e;
    line-height: 1.5;
    margin-bottom: 50px;
}
.article .btn{
    color:#fff;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1f1818;
    transition: 0.2s;
}
.article .btn:hover{
    background-color: rgb(122, 20, 4);

}
.section2 {
    width: 50%;
    margin: auto;
    text-align: center;
}

.container2 nav h1{
    font-size: 25px;
    color:#000000;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 25px;
    text-align: center;
}