@font-face {
    font-family: 'DINPro';
    src: url(lisad/DIN\ Pro\ Condensed\ Bold.ttf) format("ttf");
}
.fieldbg{
    width: 26%;
    height: auto;
    margin-bottom: 0;
}

.field{
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 2%;
}

.playerCard{
    background-image: url("/lisad/playerbg.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 90%;
    width: 33.8%;
    left: 50%;
    top: 8%;
}
.playerimg{
    position: relative;
    height: 35%;
    width: auto;
    left: 25%;
    top: 17%;
}
.playerInfo{
    position: relative;
    height: auto;
    width: 100%;
    top: 18%;
    font-family: DINPro;
}

.playerInfo .name{
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}
.playerInfo .position{
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 0;
}
.playerInfo .games{
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 0;
}
.playerInfo .goals{
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 0;
}

hr {
    height: 1px;
    width: 50%;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    border: 0;
}
hr:after {
    display: block;
    content: '';
    height: 30px;
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
    background-image: radial-gradient(farthest-side at center top, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
}
.playerIcon{
    position: absolute;
    background-color: #3333337e;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.playerIcon:hover{
    background-color: #d10000ef;
}
.selected{
    background-color: rgba(31, 0, 209, 0.918);
}
.selected:hover{
    background-color: rgba(31, 0, 209, 0.918);
}
.p1{
    top: 88%;
    left: 23.5%;
}
.p2{
    top: 77%;
    left: 15%;
}
.p3{
    top: 77%;
    left: 20.25%;
}
.p4{
    top: 77%;
    left: 26.25%;
}
.p5{
    top: 77%;
    left: 32%;
}
.p6{
    top: 65%;
    left: 23.5%;
}
.p7{
    top: 47%;
    left: 16%;
}
.p8{
    top: 54%;
    left: 20.5%;
}
.p9{
    top: 54%;
    left: 26.5%;
}
.p10{
    top: 47%;
    left: 31%;
}
.p11{
    top: 35%;
    left: 23.5%;
}
